/* We should use a subset of markdown to control the chat message layout better */

.chat-message {
  color: #333;
}

.chat-message p:last-child {
  margin-bottom: 0;
}

.emojione {
  position: relative;
  margin-bottom: 1px;
  top: 2px;
  width: 18px;
}
